<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="yvela">
        <div class="header">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
        </div>
        <div class="main_content">
            <div class="left_main">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
            <div class="mid_main">
                <div class="mini_main">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
            <div class="right_main">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
        </div>
        <div class="footer">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
        </div>
    </div>
</body>
</html>