* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: auto;
}

html, body {
  height: 100%;
}

.yvelai {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header, .footer {
  flex: 0 0 25%;
  background-color: black;
  color: white;
}

.main_cont {
  flex: 1; 
  background-color: gray;
  text-align: center;
}
