<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number1</title>
</head>
<body>
    <div class="yvelai">
        <div class="header">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
        </div>
        <div class="main_cont">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
        </div>
        <div class="footer">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
        </div>
    </div>
</body>
</html>