* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
}

.yvela {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    width: 100%;
    height: 25%;
    background-color: tomato;
    text-align: center;
}

.main_content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left_main {
    float: left;
    background-color: aqua;
    width: 33.3%;
}

.mid_main {
    width: 33.3%;
    background-color: gray;
}

.right_main {
    width: 33.3%;
    float: right;
    background-color: blueviolet;
}